* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #0a0a0a;
}

/* general styles */

.header {
  background-color: #0a0a0a;
  padding: 35px 0;
  color: #717171;
  font-size: 24px;
  line-height: 29px;
  position: sticky;
  top: 0;
  opacity: 0.85;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
  line-height: 29px;
}

.menu__item {
  padding-right: 30px;
}

.logo {
  max-width: 40px;
  max-height: 48px;
  overflow: hidden;
  margin: 0 15px;
}

.logo__img {
  min-width: 100%;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.preview {
  background-color: #f5f5f7;
  padding: 70px 0 40px 0;
}

.preview__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview__title {
  font-size: 64px;
  font-weight: 700;
  color: #490e84;
  text-transform: uppercase;
  margin: 0 0 40px;
  line-height: 77px;
}

.preview__img {
  margin-bottom: 25px;
  max-height: 660px;
  max-width: 940px;
  overflow: hidden;
}

.preview__img img {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.preview__btn {
  display: inline-block;
  background-color: #490e84;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  padding: 22px 118px;
}

.about {
  padding: 90px 0 150px;
}

.about__title,
.slider__title {
  color: #717171;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.about__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__text p {
  line-height: 18px;
  max-width: 560px;
  width: 100%;
}

.about__text p:not(:last-child) {
  margin: 0 0 30px 0;
}

.about__text p:last-child {
  margin: 0;
}

.about__text b {
  line-height: 26px;
  font-size: 20px;
}

.about__img {
  max-width: 350px;
  max-height: 370px;
  overflow: hidden;
}

.about__img img {
  object-fit: contain;
  min-width: 100%;
  width: 100%;
}

.slider__list {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  list-style: none;
  text-align: center;
  overflow: hidden;
  max-width: 240px;
}

.slider__item:not(:last-child) {
  margin-right: 20px;
}

.slider__image {
  margin-bottom: 20px;
  min-width: 100%;
  max-height: 320px;
  max-width: 240px;
  width: 100%;
  border-radius: 30px;
}

.slider__color.slider__color_bold {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.slider__color {
  line-height: 18px;
  display: block;
}

.feedback {
  margin-top: 150px;
}

.feedback__wrapper {
  background-color: #574b63;
  display: flex;
  justify-content: space-between;
}

.feedback__section {
  padding: 130px 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feedback__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px 10px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.form__input ::placeholder {
  opacity: 0.5;
  color: #ffffff;
}

.form__text {
  opacity: 0.5;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.form__button {
  padding: 15px 81px;
  width: 240px;
  border-radius: 30px;
  border: transparent;
  margin: 30px auto 0 auto;
  color: #490e84;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.feedback__image {
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.feedback__image img {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.footer {
  background-color: #0a0a0a;
  color: #717171;
  padding: 50px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  flex-basis: 0;
  flex-grow: 1;
}
