* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
}

/* general styles */

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-size: 24px;
  line-height: 29px;
  background-color: #0a0a0a;
  padding: 35px 0;
  color: #717171;
  position: sticky;
  top: 0;
  z-index: 4;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.menu {
  align-items: center;
  display: flex;
  position: static;
}

.menu__button {
  display: none;
  width: 40px;
  height: 20px;
  margin-right: 20px;
  color: #0a0a0a;
}

.menu__button span {
  background-color: #717171;
  height: 1px;
  width: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu-mobile {
  display: none;
  width: 352px;
  text-align: center;
  background-color: #f5f5f7;
  margin: 0 auto;
  padding-top: 76px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  transform: translateY(-100%);
  border-radius: 1%;
}

.menu-mobile__button-close {
  max-width: 39px;
  background-color: #f5f5f7;
  position: absolute;
  top: 9px;
  right: 7px;
}

.menu-mobile__image {
  width: 100%;
}

.menu-mobile__list {
  border-bottom: 2px solid #717171;
  margin: 0 35px;
  padding-bottom: 50px;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 36px;
}

.menu-mobile__actions {
  font-size: 14px;
  padding: 50px 0;
}

.menu-mobile__actions-item:not(:last-child) {
  margin-bottom: 22px;
}

.menu-mobile__logo {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.menu-mobile__logo-item {
  width: 39px;
}

.header__logo {
  width: 39px;
}

.logo__img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 940px) {
  .header {
    font-size: 20px;
  }
}

@media screen and (max-width: 814px) {
  .header {
    padding: 20px 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 662px) {
  .header__wrapper {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .menu__button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__item,
  .header__phone,
  .header__logo {
    display: none;
  }

  .menu-mobile {
    display: block;
    transition: transform 0.7s ease;
  }
  .menu-mobile.menu-mobile__list-open {
    transform: translateY(0%);
  }

  .menu-mobile__list {
    display: flex;
    flex-direction: column;
  }
  .menu-mobile__actions {
    display: flex;
    flex-direction: column;
  }
}

/* header */

.preview {
  background-color: #f5f5f7;
  padding: 70px 0 40px 0;
}

.preview__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-transform: uppercase;
  text-align: center;
  color: #490e84;
  margin: 0 0 40px;
}

.preview__img {
  margin-bottom: 25px;
  max-height: 660px;
  max-width: 940px;
  overflow: hidden;
}

.preview__img img {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.preview__btn {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  display: inline-block;
  background-color: #490e84;
  border-radius: 30px;
  padding: 22px 118px;
}

@media screen and (max-width: 515px) {
  .preview__title {
    font-size: 42px;
  }
  .preview__btn {
    padding: 22px 60px;
    font-size: 20px;
  }
}

@media screen and (max-width: 345px) {
  .preview__title {
    font-size: 32px;
  }
  .preview__btn {
    padding: 10px 40px;
    font-size: 18px;
  }
}

/* preview */

.about {
  padding: 90px 0 150px;
}

.about__title,
.slider__title {
  color: #717171;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px;
}

.about__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__text p {
  line-height: 18px;
  max-width: 560px;
  width: 100%;
}

.about__text p:not(:last-child) {
  margin: 0 0 30px 0;
}

.about__text p:last-child {
  margin: 0;
}

.about__text b {
  line-height: 26px;
  font-size: 20px;
}

.about__img {
  max-width: 350px;
  max-height: 370px;
  overflow: hidden;
}

.about__img img {
  object-fit: contain;
  min-width: 100%;
  width: 100%;
}

@media screen and (max-width: 932px) {
  .about__info {
    flex-direction: column;
  }
}

@media screen and (max-width: 585px) {
  .about__title {
    font-size: 28px;
  }
  .about__text {
    font-size: 12px;
  }
  .about__text b {
    font-size: 14px;
  }
}

/* about */

.swiper-slide {
  text-align: center;
  width: 100%;
}

.slider__image {
  margin-bottom: 20px;
  min-width: 100%;
  max-height: 320px;
  max-width: 240px;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.slider__color {
  line-height: 18px;
  display: block;
}

.slider__color.slider__color_bold {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1070px) {
  .slider__color {
    margin-bottom: 30px;
  }
}

/* slider */

.feedback {
  margin-top: 150px;
}

.feedback__wrapper {
  background-color: #574b63;
  display: flex;
}

.feedback__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 130px 85px;
  max-width: 50%;
  width: 100%;
}

.feedback__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  background-color: transparent;
  color: #ffffff;
  border: transparent;
  outline: transparent;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px 10px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.form__input::placeholder {
  opacity: 0.6;
  color: #ffffff;
}

.form__text {
  opacity: 0.5;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.form__button {
  color: #490e84;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 15px 81px;
  max-width: 240px;
  border-radius: 30px;
  border: transparent;
  margin: 30px auto 0 auto;
}

.feedback__image {
  overflow: hidden;
  max-width: 50%;
  width: 100%;
}

.feedback__image img {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 1110px) {
  .feedback__inner {
    padding: 0;
  }
  .feedback__wrapper {
    display: block;
  }

  .feedback__section {
    text-align: center;
    max-width: 100%;
  }
  .feedback__image {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .feedback__section {
    padding: 130px 20px;
  }
  .feedback__title {
    font-size: 25px;
  }
  .form__button {
    padding: 10px 50px;
  }
}

/* feedback */

.footer {
  background-color: #0a0a0a;
  color: #717171;
  padding: 40px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.footer__logo {
  width: 39px;
}

@media screen and (max-width: 810px) {
  .footer {
    padding: 20px 0;
  }
}

@media screen and (max-width: 700px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
  }
  .footer__link,
  .footer__phone {
    display: none;
  }
  .footer__logo {
    margin-right: 0;
  }
}

/* footer */
